# humanize installed by jishaku
# aiohttp installed by discord.py
# jinja2 installed by aiohttp-jinja2
discord.py>=1.3.1,<1.4.0
jishaku>=1.16.6,<1.17.0
akinator.py[async]>=2.0.3,<2.1.0
python-dotenv>=0.10,<0.11.0

# Aiohttp sub-packages
aiohttp-jinja2>=1.1.2,<1.3.0
aiohttp-session[secure]>=2.8.0,<3.0.0
