{# TODO: Maybe change `moopitymoop.png` to `{{ bot.user.avatar_url }}` #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/static/css/thefbi.css?q={{ randint(1,999) }}"/>
        <link rel="stylesheet" type="text/css" href="/static/css/navbar.css?q={{ randint(1,999) }}"/>
        <link rel="icon" href="/static/images/moopitymoop.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{% block title %}This page existn't{% endblock title %} • Moopity Moop</title>

        {# All the meta tags required for the website embed in Discord #}
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Made by {{ aidzman }}">
        <meta property="og:title" content="Moopity Moop • A Minecraft Discord bot">
        <meta property="og:description" content="{% block embed_description %}Features commands for Minecraft like server pinging, player counts, auto-assigned Minecraft roles, MOTD checks and more! Moopity Moop can also fetch stats from popular Minecraft servers such as Hypixel and The Hive!{% endblock embed_description %}">
        <meta property="og:image" content="/static/images/moopitymoop.png">
        <meta name="theme-color" content="#3498db">

        {# Extra stoof I might need to add (like css) #}
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {# Gotta have a navbar! #}
    	<div class="navbar">
            <a href="/">
			    <img src="/static/images/moopitymoop.png" alt="Moopity Moop icon" id="moopicon">
			</a>
			<a href="/about" class="link">About</a>
			<a href="/cmds" class="link">Commands</a>

            {# Buttons that require login #}
            {% set colour= "#00A2E8" if "user_id" in session else "#1375A1" %}
            <a href="/guildpicker" class="link" style="color:{{ colour }}">Server settings</a>


            {# Login/logout w icon depending on cookie #}
            {% if "user_id" in session %}
                <a href="/user/{{ session['user_id'] }}">
                    <img src="{{ session['user_info']['avatar'] }}" alt="Click to view your stats" id="usericon">
                </a>
                <a href="/logout" class="link star">Logout</a>
            {% else %}
			    <a href="/login" class="link star">Login</a>            
            {% endif %}
			<a href="/invite" class="link star">Invite</a>
		</div>
        <div style="height: 42px"></div>
        
        {% block body %}
            {# Code for 404 because it is otherwise redefined #}
            
            <style>
                .center-div p {
                    float: left;
                } .center-div p img {
                    width: 130px; height: 130px;
                    border-radius: 50%;
                }
                .center-div *{
                    color: #2F3136;
                }
            </style>

            <div class="center-div">
                <p><img src="/static/images/moopitymoop.png" alt="Moopity Moop icon"></p>
                <h2>404 This page existn't</h2>
                <h3>You find yourself in a strange place, there doesn't seem to be anything here 🤔 Click <a href="/">here</a> to return home</h3>
            </div>
        {% endblock body %}
    </body>
</html>
