{# Setup #}
{% extends "_base.jinja" %}
{% block title %}Bot links{% endblock %}

{# Body content #}
{% block body %}
    <style>
        .center-div {
            width: 550px; height: 210px;
        }
        .center-div button {
            padding: 7px 12px;
            background-color: #2aa4f6;
            border-radius: 5px;
            border: 0px solid #2aa4f6;
            font-size: 107%;
        }
        .center-div button:hover {
            color: goldenrod;
            font-weight: 500;
        }
        .center-div table tr#headers {
            display: flex;
            justify-content: space-between;
        }
    </style>
    
    <div class="center-div">
        <h2>-- Bot invite links --</h2>
        
        <table>
            <tr id="headers">
                <th>
                    <button onclick="window.location.href='/invite?p=default'">Default invite</button>
                </th><th>
                    <button onclick="window.location.href='/invite?p=select'">Select permissions</button>
                </th><th>
                    <button onclick="window.location.href='/invite?p=default'">No permissions</button>
                </th>
            </tr>
            <tr>
                <td>Invite the bot with the bare permissions required to function all commands</td>
                <td>Pick + select your own permissions from the invite page</td>
                <td>Invite the bot with no extra permissions</td>
            </tr>
        </table>
    </div>
{% endblock body %}