{# Setup #}
{% extends "_base.jinja" %}
{% block title %}
    {% if guild %}
        {{ guild }}'s leaderboard
    {% else %}
        Leaderboard
    {% endif %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/leaderboard.css"/>
{% endblock head %}

{% block body %}
    {% if guild %}
    <div class="icontext">
        {% if guild.icon %}
            <img alt="{{ guild.name }}'s icon" src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png"/>
        {% else %}
            <img alt="{{ guild.name }} has no icon" src="/static/images/iconless.png"/>
        {% endif %}

        <div style="float:right">
            <h2>{{ guild.name }}</h2>
            <h3>Total members: <code>{{ len(guild.members) }}</code></h3>
            <h3>Members in leaderboard: <code>{{ len(data.keys()) }}</code></h3>
            {% if "user_id" in session %}
                {% if session["user_id"] in list(data.keys()) %}
                    <h3>Your rank: <code>#{{ list(data.keys()).index(session["user_id"])+1 }}</code></h3>                
                {% else %}
                    <h3>Your rank: <code>Not on leaderboard!</code></h3>
                {% endif %}
            {% else %}
                <h3>Your rank: <code><a href="/login">Log in</a></code></h3>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="icontext">
        <img alt="{{ bot.user }}'s icon" src="{{ bot.user.avatar_url }}" style="width:96px;height:96px"/>

        <div style="float:right">
            <h2>{{ bot.user.name }}'s global leaderboard</h2>
            <h3>Members in leaderboard: <code>{{ len(data.keys()) }}</code></h3>
            {% if "user_id" in session %}
                {% if session["user_id"] in list(data.keys()) %}
                    <h3>Your rank: <code>#{{ list(data.keys()).index(session["user_id"])+1 }}</code></h3>                
                {% else %}
                    <h3>Your rank: <code>Not on leaderboard!</code></h3>
                {% endif %}
            {% else %}
                <h3>Your rank: <code><a href="/login">Log in</a></code></h3>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <br>
    
    <div id="leaderboard">
    {% for id_, amount in data.items() %}
        {% set user, index=bot.get_user(id_), list(data.keys()).index(id_)+1 %}
        {% set url=db.LEADERBOARD_URL_KEY.get(index, db.LEADERBOARD_DEFAULT_URL) %}
        <div class="icontext">
            <div class="leaderboard-user">
                <img class="avatar" src="{{ user.avatar_url }}" alt="{{ user }}'s avatar"/>
                <div class="circle"></div>
                <img class="award" src="https://discordapp.com/assets/{{ url }}.svg"/>
            </div>

            <div style="float:right">
                <h3>{{ user }}</h3>
                <h3>Rank <code>#{{ list(data.keys()).index(id_)+1 }}</code> with <code>${{ amount }}</code></h3>
            </div>
        </div>
    {% else %}
        <p>It seems that literally everybody in this server has no money whatsoever. Use the <code>{{ bot.default_prefix }}daily</code> command to get started</p>
    {% endfor %}
    </div>
{% endblock body %}
